<mat-toolbar color="primary">
  <a mat-button routerLink="/dashboard">
    <mat-icon>home</mat-icon> PKI Service
  </a>

  <ng-container *ngIf="isAdmin$ | async">
    <!-- stranice za admina -->
    <a mat-button routerLink="/create-ca-user">
      <mat-icon>person_add</mat-icon> Create CA User
    </a>
    <a mat-button routerLink="/create-root-certificate">
      <mat-icon>security</mat-icon>
      Create Root Certificate
    </a>
    <a mat-button routerLink="/create-intermediate-certificate">
      <mat-icon>add_moderator</mat-icon> <!-- Primer ikone -->
      Create Intermediate
    </a>
  </ng-container>


   <ng-container *ngIf="isCaUser$ | async">
    
    <a mat-button routerLink="/create-intermediate-certificate">
      <mat-icon>add_moderator</mat-icon> 
      Create Intermediate
    </a>
   
  </ng-container>

  <ng-container *ngIf="isOrdinaryUser$ | async">
      <a mat-button routerLink="/certificate-request">
      <mat-icon>post_add</mat-icon> <!-- Primer ikone -->
      Submit Certificate Request
    </a>
  </ng-container>

  <span class="spacer"></span>

  <ng-container *ngIf="isLoggedIn$ | async">
    
    <a mat-button routerLink="/sessions">
      <mat-icon>devices</mat-icon> <!-- Ikona za uređaje/sesije -->
      <span>Active Sessions</span>
    </a>

    <span *ngIf="authService.currentUser$ | async as user" class="user-info">
      {{ user.firstName }} ({{ user.role }})
    </span>
    <button mat-icon-button (click)="logout()" aria-label="Logout button">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>

</mat-toolbar>
