<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
  <p>Please enter your email address to receive a password reset link.</p>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" type="email" required #emailInput="ngModel">
    <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
      Please enter a valid email.
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial [disabled]="emailInput.invalid">Send Link</button>
</div>